services:
  filebrowser_web1:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser_web1
    expose:
      - "80"
    volumes:
      - filebrowser-data:/srv
    restart: on-failure
    networks:
      - vault-net

  filebrowser_web2:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser_web2
    expose:
      - "80"
    volumes:
      - filebrowser-data:/srv
    restart: on-failure
    networks:
      - vault-net

  filebrowser_web3:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser_web3
    expose:
      - "80"
    volumes:
      - filebrowser-data:/srv
    restart: on-failure
    networks:
      - vault-net

  haproxy:
    image: haproxy:2.8-alpine
    container_name: haproxy
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./haproxy/503.http:/usr/local/etc/haproxy/503.http:ro
    ports:
      - "8080:80"
    restart: on-failure
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "haproxy -c -f /usr/local/etc/haproxy/haproxy.cfg || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - vault-net

  docker-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: docker-proxy
    restart: unless-stopped
    environment:
      - CONTAINERS=1
      - POST=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - vault-net

  orchestrator:
    build:
      context: ./orchestrator
    container_name: orchestrator
    restart: on-failure
    healthcheck:
      test:
        ["CMD-SHELL", "curl -f http://localhost:8081/orchestrator || exit 1"]
      interval: 15s
      timeout: 10s
      retries: 5
    env_file:
      - .env
    expose:
      - "8081"
    volumes:
      - ./orchestrator:/app
      # Mount Docker socket to control other containers
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - docker-proxy
    networks:
      - vault-net

volumes:
  filebrowser-data:

networks:
  vault-net:
    driver: bridge
