Flask
Flask-WTF
uvicorn[standard]
Werkzeug
Pillow
Flask-SQLAlchemy
SQLAlchemy
psycopg2-binary
PyJWT
argon2-cffi
requests
httpx
Whoosh
Authlib
cryptography
pyotp
qrcode
python3-saml
boto3
croniter
cron-descriptor
